* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3e8f7;
}

.container {
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: #f0f3ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

.login-box {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

h2 {
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.input-box {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

input:focus {
    border-color: #6c63ff;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #5b56e3;
}

.register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #6c63ff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 3 10px;
}




.illustration {
    flex: 1;
    background-color: #e6e9fd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration img {
    max-width: 80%;
}
